
h2{
    text-align: center;
    color: rgb(40, 82, 197)
  }
  
  p{
    text-align: center;
    font-size: 1em;
    color: black;
  }
  
  div{
    margin: 2em 1em 0 1em;
    background-color:blue;
  }

  #correcto{
    margin: 2em 1em 1em 1em;
  }
  
  #incorrecto1{
    margin: 1em 1em 1em 1em;
  }
  
  #incorrecto2{
    margin: 1em 1em 1em 1em;
  }